@import "payload/scss";

.textarea-count-field {
  &__input {
    // Payload exports a mixin from the vars file for quickly applying formInput rules to the class for our input
    @include formInput;
    height: fit-content;
    resize: vertical;
    width: 100%;
  }

  .error {
    background-color: var(--theme-error-100);
    border: 1px solid var(--theme-error-400);
  }
}
